<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Epidemy Monitoring System">

    <title>Epidemy Monitoring System</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap-theme.min.css">

    <script src="{{ STATIC_URL }}bootstrap.min.js"></script>
</head>
<body>

    {% block content %}
    {% endblock %}

</body>
</html>