{% include "base.html" %}
{% block content %}
{% load bootstrap_toolkit %}
    <div class="container container-white">
        <div class="page-header">
            <h1>Register Sample</h1>
        </div>

        <form action="{% url "list" %}" method="post">
            {% csrf_token %}
            {{ form|as_bootstrap }}
            <div class="controls">
                <input type="submit" value="start" class="btn btn-lg btn-default" />
            </div>
        </form>
    </div>
{% endblock %}