{% include "base.html" %}
{% block content %}
{% load bootstrap_toolkit %}
    <div class="container container-white">
        {% if last %}
        <div class="page-header">
            <h1>Last added sample</h1>
        </div>
        <div class="row">
            <div class="col-md-2 col-xs-12">
                <strong>Date:</strong>
            </div>
            <div class="col-md-10 col-xs-12">
                {{ last.date }}
            </div>
            <div class="col-md-2 col-xs-12">
                <strong>Hospital:</strong>
            </div>
            <div class="col-md-10 col-xs-12">
                {{ last.hospital }}
            </div>
            <div class="col-md-2 col-xs-12">
                <strong>Ward:</strong>
            </div>
            <div class="col-md-10 col-xs-12">
                {{ last.ward }}
            </div>
            <div class="col-md-2 col-xs-12">
                <strong>Doctor:</strong>
            </div>
            <div class="col-md-10 col-xs-12">
                {{ last.doctor }}
            </div>
            <div class="col-md-2 col-xs-12">
                <strong>Gender:</strong>
            </div>
            <div class="col-md-10 col-xs-12">
                {{ last.gender }}
            </div>
            <div class="col-md-2 col-xs-12">
                <strong>Age group:</strong>
            </div>
            <div class="col-md-10 col-xs-12">
                {{ last.age_group }}
            </div>
            <div class="col-md-2 col-xs-12">
                <strong>Postcode:</strong>
            </div>
            <div class="col-md-10 col-xs-12">
                {{ last.postcode }}
            </div>
            <div class="col-md-2 col-xs-12">
                <strong>Country:</strong>
            </div>
            <div class="col-md-10 col-xs-12">
                {{ last.country }}
            </div>
            <div class="col-md-2 col-xs-12">
                <strong>Traveled recently:</strong>
            </div>
            <div class="col-md-10 col-xs-12">
                {{ last.travel_last_6_m }}
            </div>
            <div class="col-md-2 col-xs-12">
                <strong>Condition:</strong>
            </div>
            <div class="col-md-10 col-xs-12">
                {{ last.condition }}
            </div>
            <div class="col-md-2 col-xs-12">
                <strong>Allergies AB:</strong>
            </div>
            <div class="col-md-10 col-xs-12">
                {{ last.allergies_ab }}
            </div>
            <div class="col-md-2 col-xs-12">
                <strong>Current AB:</strong>
            </div>
            <div class="col-md-10 col-xs-12">
                {{ last.current_ab }}
            </div>
            <div class="col-md-2 col-xs-12">
                <strong>Specie:</strong>
            </div>
            <div class="col-md-10 col-xs-12">
                {{ last.specie }}
            </div>
            <div class="col-md-2 col-xs-12">
                <strong>Strain:</strong>
            </div>
            <div class="col-md-10 col-xs-12">
                {{ last.strain }}
            </div>
            <div class="col-md-2 col-xs-12">
                <strong>Resistances:</strong>
            </div>
            <div class="col-md-10 col-xs-12">
                {{ last.resistances }}
            </div>
        </div>
        {% endif %}
        <div class="page-header">
            <h1>Samples List</h1>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Postcode</th>
                    <th>Allergies AB</th>
                    <th>Current AB</th>
                    <th>Specie</th>
                    <th>Strain</th>
                    <th>Resistances</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
                {% for sample in samples %}
                <tr>
                    <th scope="row">{{ sample.id }}</th>
                    <td>{{ sample.postcode }}</td>
                    <td>{{ sample.allergies_ab }}</td>
                    <td>{{ sample.current_ab }}</td>
                    <td>{{ sample.specie }}</td>
                    <td>{{ sample.strain }}</td>
                    <td>{{ sample.resistances }}</td>
                </tr>
                {% endfor %}
        </table>
    </div>
{% endblock %}